.notice {
  .content_main {
    width: 880px;
    margin: 20px auto 0;
    padding: 10px;
    border: 1px solid #D9DDE7;
    .main_head {
      margin-bottom: 20px;
      .head_title {
        font-size: 16px;
        font-weight: bold;
        color: #4C5C6F;
        height: 22px;
        line-height: 22px;
      }
      .head_handle {
        font-size: 14px;
        color: #3DA8F5;
        cursor: pointer;
      }
    }
    .main_notice {
      & + div.main_notice {
      border-top: 1px solid #f5f5f5;
    }
      .notice_overview {
        height: 40px;
        line-height: 40px;
        .overview_content {
          position: relative;
        }
        .overview_right {
          padding-left: 20px;
          cursor: pointer;
        }
      }
      .notice_leaveWord {
        line-height: 20px;
        padding: 10px;
        background-color: #f5f5f5;
      }
    }
    .no_data_tip {

    }
    .page {
      padding: 20px 0 6px 20px;
    }
  }
}
.point_position {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  margin-top: -3px;
}
.red_point {
  background: #f00;
}
.green_point {
  background: #7cfc00;
}
