.verify{
  border: 1px solid #D9D9D9;
  background-color: #F2F2F2;
  .right_side{
    border:0 ;
    margin-left:300px;
    padding: 20px;
    .right_inside{
      background-color: #fff;
      padding: 20px;
    }
  }
  .el-menu--horizontal.el-menu--dark .el-submenu .el-menu-item.is-active:after, .el-menu-item.is-active:after{
    height: 0;
  }
  .el-menu--horizontal.el-menu--dark .el-submenu .el-menu-item.is-active, .el-menu-item.is-active{
    border: 0;
    border-top: 1px solid #D9DDE7;
    border-bottom: 1px solid #D9DDE7;
    border-left: 3px solid #3DA8F5;
    background-color: #F2F2F2;
    color: #4C5C6F;
    .active_text{
      color: #3DA8F5;
    }
  }
  .el-menu-item, .el-submenu__title{
    padding: 10px 0;
    height: auto;
    line-height: normal;
  }
  .gray-text{
    color: #999;
  }
  .process{
    >div{
      border: 1px solid #D9DDE7;
      width: 260px;
      padding: 10px;
      float: left;
      height: 162px;
    }
    position: relative;
  }
  ul.el-menu-vertical-demo{
    >li{
      width: 300px;
    }
  }
  .indicator_box{
    border: 1px solid #D9DDE7;
    border-radius: 0;
    &:hover{
      box-shadow: none;
    }
    .indicator_btn{
      display: none;
    }
  }

}
