@import "variable/variable";

@import "core/index";
@import "mixin/index";

//@import "components/common/head";
//@import "components/common/foot";
//@import "components/common/menu";
//@import "components/common/content_head";
//@import "components/common/filter_form";
//@import "components/initSet/iniSet";
//@import "components/department/department";
//@import "components/postReset/post";
//@import "components/personSet/personSet";
//@import "components/indicate/indicateManage";
//@import "components/indicate/indicateHr";
//@import "components/notice/noticeManage";
//@import "components/check/checkManage";
//@import "components/task/task";
//@import "components/index/index";

//公共样式 start
.el-table td.gutter, .el-table th.gutter{
  width: 0.1px;
  //display: none;
}
img{
  display: block;
}
.no_data_tip{
  text-align: center;
  line-height: 30px;
  color: #5e7382;
  background-color: #E6E6E6;
}
.el-tooltip__popper.is-light{
  max-width: 400px;
}
.img{
  height: 300px;
  background: url("~assets/img/login_bg.jpg") no-repeat;
}
