.indicatorManage{
  .excel_box{
    width: 85px;
    margin:0 auto;
    text-align: center;
    .excel_text{
      width: 85px;
      margin-top:40px;
    }
  }
  .el-steps.is-horizontal{
    margin-left: 28px;
  }

}
